button:focus {
    outline: none;
}

#navIcon {
    border: 2px solid white;
    color: white;
}

.fa-utensils {
    margin-right: 5px;
}

.addyContainer {
    margin-top: 10px;
    background-color: white;
    padding-top: 10px;
}

#distanceBadge {
    margin-top: -35px;
    
}

.badge {
    margin-top: -35px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    max-width: 80px;
    text-align: center;
    font-size: 90%;
    padding: .5em .6em;
}

.linkFooter {
    background-color: white;
    color: dodgerblue;
    margin-top: -25px;
}

.icon {
    color: rgb(218, 218, 218);
    font-size: 20px;
    margin-right: 6px;
}

.lightText {
    color: rgb(218, 218, 218);
}

.icon.yes {
    color: rgb(139, 218, 143);
}

.cardSpacing {
    margin-top: -12px;
}

.restCard {
    border: none;
    min-width: 250px; 
    max-width: 500px;
    
}

.iconRow {
    margin-top: -8px;
}

body {
    background-color: whitesmoke;
}

.modalLink {
    cursor: pointer;
}

#expandFilter {
    margin-top: 10px;
    margin-bottom: 15px;
}

.filterRows {
    padding-left: .5em;
    padding-right: .5em;
}

.callNowBtn {
    padding-left: 20px;
    padding-right: 25px;
}

#loadMoreBtnSm {
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.addressBtn {
    z-index: 2;
    background-color: green;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#screenDimmer {
    background:#000;
    opacity:0.9;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index: 3 !important;
}

.spinner-grow {
    z-index: 5 ;
    background-color:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnBehave {
    border: 0;
    outline: none;
    display: inline-block;
}

.randomModal {
    border: none;
    background: none;
}

.autocomplete-suggestions {color: rgb(192, 192, 192); border: none; border-radius: 3px; padding-bottom: 10px; padding-top: 5px; background: #FFF; overflow: auto; cursor: pointer; width: auto;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }